<div class="row">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li [ngbNavItem]="1">
      <button ngbNavLink> All Employees</button>
    </li>
  </ul>
  <div class="col-md-12 col-xl-8" style="width: 100%">
    <div class="d-flex flex-row-reverse m-2">
      <div class="btn-group">
        <button class="btn btn-primary" (click)="openModal()"> Add New </button>
      </div>
    </div>
    <div class="card tbl-card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-borderless mb-0">
            <thead>
              <tr class="text-center">
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Joining Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employees" class="text-center">
                <td>
                  <div class="flex-shrink-0">
                    <img
                      src="{{ !employee.FileUrl ? 'assets/images/user/avatar-2.jpg' : 'http://localhost:5238/' + employee.FileUrl }}"
                      alt="user-image"
                      class="user-avtar wid-35"
                    /> </div
                ></td>
                <td>{{ employee.EmployeeId }}</td>
                <td>{{ employee.FirstName }} {{ employee.LastName }}</td>
                <td>{{ employee.CurrentDesignation.DesignationName }}</td>
                <td>{{ employee.ContactNumber }}</td>
                <td>{{ employee.PersonalEmail }}</td>
                <td>{{ employee.DateOfJoining | date }}</td>
                <td
                  ><a class="btn btn-outline-success" [routerLink]="['/admin/profile', employee.EmployeeId]">
                    <i class="ti ti-eye" style="color: black"></i>
                  </a>
                  <a class="btn btn-outline-primary mx-2" (click)="openModal(employee)"><i class="ti ti-edit"></i></a>
                  <a class="btn btn-outline-danger" (click)="employee.IsDeleted = true; employeeDelete(employee)"
                    ><i class="ti ti-trash"></i></a
                ></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
<div #empModal class="modal fade" id="empModal" tabindex="-1" aria-labelledby="empModal" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content" *ngIf="selectedEmployee != null">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="salaryModalLabel">{{
          !selectedEmployee ? '' : selectedEmployee.EmployeeId ? 'Edit Employee' : 'New Employee'
        }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <app-form
        [formData]="selectedEmployee"
        [fields]="employeeFields"
        (onClose)="closeModal()"
        (onSave)="onEmployeeSaved($event)"
      ></app-form>
    </div>
  </div>
</div>
