<div class="row">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li [ngbNavItem]="1">
      <button ngbNavLink (click)="actionLink = 'list'"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-user-square"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M9 10a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
          <path d="M6 21v-1a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v1" />
          <path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z" />
        </svg>
        All salaries</button
      >
    </li>
  </ul>
  <ng-template ngbNavContent [ngIf]="actionLink == 'list'">
    <div class="col-md-12 col-xl-8" style="width: 100%">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h5 class="mb-3 mt-2">All salaries Details</h5>
        <div class="d-flex gap-2 align-items-end">
          <div>
            <label for=""><b>From Date :</b> </label>
            <input type="date" class="form-control" [(ngModel)]="from" name="dp" />
          </div>

          <div>
            <label for=""><b>To Date :</b> </label>
            <input type="date" class="form-control" [(ngModel)]="to" [min]="from" name="kp" />
          </div>

          <div class="get-btn ms-3">
            <button class="btn btn-md btn-primary" (click)="getEmployeesSalaryStructures()">Get Salaries</button>
          </div>
        </div>
        <div>
          <button class="btn btn-primary">Export</button>
        </div>
      </div>
      <div class="card tbl-card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-borderless mb-0">
              <thead>
                <tr class="text-center">
                  <th></th>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Basic</th>
                  <th>Conveyance</th>
                  <th>TDS</th>
                  <th>HRA</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let employee of employeeSalary" class="text-center">
                  <td>
                    <div class="flex-shrink-0">
                      <img src="assets/images/user/avatar-2.jpg" alt="user-image" class="user-avtar wid-35" /> </div
                  ></td>
                  <td>{{ employee.EmployeeId }}</td>
                  <td>{{ employee.Employee.FirstName }} {{ employee.Employee.LastName }}</td>
                  <td>{{ employee.Basic }}</td>
                  <td>{{ employee.Conveyance }}</td>
                  <td>{{ employee.TDS }}</td>
                  <td>{{ employee.HRA }}</td>
                  <td>
                    <a class="btn btn-outline-primary" (click)="openModal(employee)"><i class="bi bi-printer"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>

<div #salarySlipModal class="modal fade" tabindex="-1" aria-labelledby="salarySlipModal" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content" *ngIf="selectedSalary">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="salaryModalLabel"> Salary </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <app-salaryslip (onClose)="closeModal()"></app-salaryslip>
    </div>
  </div>
</div>
