<nav>
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="https://sigasystems.com/" class="b-brand" target="_blank">
        <!-- ========   Change your logo from here   ============ -->
        <img
          src="../../../../../assets/images/Siga-logo.jpg"
          alt="theme-logo"
          style="height: 70px; width: 170px"
          class="logo logo-dark logo-lg mt-2"
        />
      </a>
    </div>
    <app-nav-content (NavCollapsedMob)="navCollapseMob()" class="scroll-div w-100"></app-nav-content>
  </div>
</nav>
