<div class="row">
  <div class="holiday">
    <div *ngIf="currentUser.role == userRole.SUPER_ADMIN || currentUser.role == userRole.HR" class="d-flex justify-content-end">
      <button class="btn btn-dark" (click)="openModal()">New</button>
    </div>
  
    <div id="header">
      <h1>Holidays</h1>
      <p>- SiGa Systems</p>
    </div>
    <div class="container">
      <div class="card" *ngFor="let holiday of holidays; let i = index">
        <div class="card-image">
          <img [src]="!holiday.FileUrl ? 'assets/images/user/avatar-2.jpg' : 'http://localhost:5238/' + holiday.FileUrl" />
        </div>
        <div class="card-text">
          <p class="card-meal-type">{{ holiday.Date | date }}</p>
          <h2 class="card-title">{{holiday.Description}}</h2>
          <!-- <p>{{ holiday.Description }}.</p> -->
          <p class="d-flex justify-content-end">- SiGa Systems.</p>
        </div>
        <div class="d-flex">
          <span *ngIf="currentUser.role == userRole.SUPER_ADMIN || currentUser.role == userRole.HR" class="card-opration"
            ><button class="btn btn-primary mx-2" (click)="openModal(holiday)"><i class="ti ti-edit"></i></button
            ><button class="btn btn-danger"><i class="ti ti-trash" (click)="deleteHoliday(holiday.HolidayId)"></i></button
          ></span>
          <div class="card-price">{{ i + 1 }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div #holidayModal class="modal fade" id="holidayModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content" *ngIf="selectedHoliday">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ !selectedHoliday?'':selectedHoliday.HolidayId ? 'Edit Holiday' : 'New Holiday' }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <app-form [formData]="selectedHoliday" (onClose)="closeModal()" [fields]="holidayfields" (onSave)="onHolidaySaved($event)"></app-form>
    </div>
  </div>
</div>
